<section class="container text-center mt-5">
  <h1>Welcome to Our Real Estate Agency</h1>
  <p>Your dream property is just a click away!</p>

  <div class="mt-4">
    <%= link_to 'Agent Directory', agents_path, class: 'btn btn-primary btn-lg mx-2' %>
    <%= link_to 'Property Listings', properties_path, class: 'btn btn-secondary btn-lg mx-2' %>
    <%= link_to 'Contact Us', contact_path, class: 'btn btn-info btn-lg mx-2' %>
    <%= link_to 'About Us', about_path, class: 'btn btn-success btn-lg mx-2' %>
  </div>
</section>
